@model IEnumerable<InoSoft.TeamStudio.Core.Entities.Task>

@{
    ViewBag.Title = "UserTasksList";
}

<h2>UserTasksList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ProjectId
        </th>
        <th>
            VersionId
        </th>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            IsFixed
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFixed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { TaskId = item.TaskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TaskId })
        </td>
    </tr>
}

</table>
